@model IEnumerable<Trips_and_Travel.Models.Post>

@{
    ViewBag.Title = "MyPosts";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}


@*<div class="nav navbar-left">
    <p>
        @Html.ActionLink("Profile", "Mine")
    </p>
    <p>
        @Html.ActionLink("Create New Post", "Create")
    </p>
    <p>
        @Html.ActionLink("My Posts", "Mine")
    </p>
    <p>
        @Html.ActionLink("Recieved Questions", "Mine")
    </p>
</div>*@
<h2 style="text-align:center">Your Posts</h2>
<hr />
<div >
    <table class="table table-bordered table-hover table-condensed text-center" style="margin-left:100px;background-color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Details)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyName)
            </th>

            <th class="text-center">
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            <img src="@Url.Content(item.Photo)" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)E£
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Posts", new {id = item.Id })" class="btn btn-success">
                <span class="glyphicon glyphicon-edit"></span>
                Edit
            </a> |
            <a href="@Url.Action("Delete", "Posts", new {id = item.Id })" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>
        </td>
    </tr>
        }

    </table>
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
