
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="        background-image: url(../../Images/T6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    ">
    <div class="navbar navbar-inverse navbar-fixed-top" style= "background-color: #000313;">
        <div class="container">
            <div class="navbar-header">

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="margin-left:1000px;">@Html.ActionLink("Logout", "Logout", "Users")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="nav navbar-left" style="margin-top:100px;margin-left:60px;" >
        <a href="@Url.Action("ShowInfo", "Admin")" class="btn btn-success">
            <span class="glyphicon glyphicon-check"></span>
            Profile
        </a>
        <br /><br />
        <a href="@Url.Action("Create", "Posts")" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span>
            New Post
        </a>
        <br /><br />
        <a href="@Url.Action("Mine", "Posts")" class="btn btn-info">
            <span class="glyphicon glyphicon-list"></span>
            My Posts
        </a>
        <br /><br />
        <a href="@Url.Action("Index", "Posts")" class="btn btn-warning">
            <span class="glyphicon glyphicon-calendar"></span>
            Recieved Questions
        </a>
        @*<p>
            @Html.ActionLink("Show", "DBData", "Admin")
        </p>
        <p>
            @Html.ActionLink("Users", "Show", "Users")
        </p>
        <p>
            @Html.ActionLink("Posts", "Mine", "Posts")
        </p>
        <p>
            @Html.ActionLink("Back to Admin", "Index", "Admin")
        </p>*@

    </div>
    <div style=" border-left: 3px solid black; height: 1000px; position: absolute; left: 15%;">

    </div>

    <div class="container body-content" >
        @RenderBody()
        <footer class="nav navbar-fixed-bottom" style= "color: yellow;">
            <div class="navbar navbar-inverse navbar-fixed-bottom" style= "background-color: #000313;">
                <div class="container">
                    <div class="navbar-header">
                    <h3>FCAIH - Internet Applications 2021 &copy; </h3>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
